.App {
 font-family: sans-serif;
}
.Header-App {
  background-color: #2C3333;
  text-align: center;
  color: aliceblue;
  padding: 10px;
}
.Body-App {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  background-color: #E7F6F2;
}
